.x-form-invalid,textarea.x-form-invalid{
    background: #cfc;
    border:1px solid #78dd70;
}
.x-form-invalid.x-form-focus {border-color:#00F;}  
#swWorkPlaceSMPDispatcherCallWindow_Grid  > div.x-panel-header, 
#swWorkPlaceSMPDispatcherCallWindow2_Header div.x-panel-header, 
#swWorkPlaceSMPDispatcherDirectWindow_Grid > div.x-panel-header,
#swWorkPlaceSMPDispatcherDirectWindow_Grid  > div.x-panel-header,
#swWorkPlaceSMPHeadDutyWindow_Grid  > div.x-panel-header,
#swWorkPlaceSMPAdminWindow  > div.x-panel-header
{
		font: normal 18px/22px tahoma,arial,verdana,sans-serif;
		text-align: center;
}

.x-panel-header-right{font:normal 11px tahoma,arial,helvetica,sans-serif;padding:0;margin:0 0 2px 0;color:#fff;width:80px;text-align:right;float:right}

.x-grid3-check-col-ongray{width:100%;height:16px;background-position:center center;background-repeat:no-repeat;background-color:transparent;background-image:url(../img/grid/checked-gray.gif);}

.x-grid3-check-col-ongray{width:100%;height:16px;background-position:center center;background-repeat:no-repeat;background-color:transparent;background-image:url(../img/grid/checked-gray.gif);}

.x-form-twin-triggers{
    padding-top: 0px;
    width:17px;
    height:19px;
    border:0;
    cursor:pointer;
    border-bottom: 0px solid #B5B8C8;
    vertical-align: middle;
}

.x-form-twin-triggers-spinner{
    padding-top: 0px;
    width:17px;
    height:22px;
    border:0;
    cursor:pointer;
    border-bottom: 0px solid #B5B8C8;
    vertical-align: middle;
    display: inline-block;
}

.x-form-spinner {}

.x-form-spinner-default {
    background: url("/css/themes/blue/images/form/spinner.gif");
    background-color: #fff;
    width: 17px;
    height: 11px;
}

.x-form-spinner-up {

}

.x-form-spinner-default.x-form-spinner-up.x-form-spinner-over {
    background-position: -17px 0px;
}

.x-form-spinner.x-form-spinner-default.x-form-spinner-up.x-form-spinner-click {
    background-position: -34px 0px;
}


.x-form-spinner-down {
    background-position: 0 -11px;
}

.x-form-spinner-default.x-form-spinner-down.x-form-spinner-over {
    background-position: -17px -11px;
}

.x-form-spinner.x-form-spinner-default.x-form-spinner-down.x-form-spinner-click {
    background-position: -34px -11px;
}



.borderedCell {
	border: 1px solid black
}

.field-disabled {
	color: #777;
	/* opacity: .6; -moz-opacity: .6; filter: alpha(opacity=60); */
	cursor: default;
}

.field-disabled * {
	color: #777 !important;
	cursor: default !important;
}

.field-disabled img, .field-disabled span {
	opacity: .6; -moz-opacity: .6; filter: alpha(opacity=60);
}

.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}
#fi-button-msg {
	border: 2px solid #ccc;
	padding: 5px 10px;
	background: #eee;
	margin: 5px;
	float: left;
}
.item-vertical-align-bottom {
	vertical-align: bottom;
}
.ct-vertical-align-bottom {
	position: static;
}


.boxbgr .x-form-radio-wrap-inner:focus {
	border:1px solid #00f; padding-left: 0px;
}

.qt-selected-element {
	background-color: #D1EAF0
}

.qt-selected-group {
	background-color: #F2D0BD
}

.structuredparam .x-form-item {
	margin-bottom: 0px;
}

.structuredparam .x-form-check-wrap-inner, .structuredparam .x-form-check-wrap {
	padding-top: 0px;
}

.structuredparam label.x-form-cb-label {
	padding-top: 0px; padding-bottom: 0px; font-size: 10px;
}

.clearTextfieldsButton{
    background-size: cover;
    background: url("/extjs4/resources/themes/images/cross-off16.png") no-repeat 0 2px !important;
    cursor: pointer;
    position: relative;
    width: 15px;
    display: none;
    border-bottom: none !important;
    right: -20px;
}

.x-field-combo-btns{
    position: absolute;
    top:0;
}

.inputClearTextfieldsButton:hover + .x-field-combo-btns>.clearTextfieldsButton,
.clearTextfieldsButton:hover{
	right: 0;
    display: inline-block;
}

.showDatefieldButton{
	right: 0 !important;
}
.clearDatefieldsButton{
    background-size: cover;
    background: url("/extjs4/resources/themes/images/cross-off16.png") no-repeat 0 2px !important;
    cursor: pointer;
    position: relative;
    width: 15px;
    display: inline-block;
    border-bottom: none !important;
    right: -20px;
}

.numTriggersFieldsContainer{
    position: relative;
    text-align: center;
}
.numTriggersFieldsContainer .numberField{
    width: 70%;
    float: left;
}
.numTriggersFieldsContainer .negativeTrigger,
.numTriggersFieldsContainer .positiveTrigger{
    display: inline-block;
    width:14px;
    height: 14px;
    cursor: pointer;
    opacity: 0;
}
tr:hover .numTriggersFieldsContainer .negativeTrigger,
tr:hover .numTriggersFieldsContainer .positiveTrigger{
    opacity: 0.6;
}
.numTriggersFieldsContainer .negativeTrigger:hover,
.numTriggersFieldsContainer .positiveTrigger:hover{
    opacity: 1 !important;
}
.numTriggersFieldsContainer .negativeTrigger{ background: url("/css/themes/blue/images/form/trigger-minus.png") no-repeat 0 0 !important; float: left; }
.numTriggersFieldsContainer .positiveTrigger{ background: url("/css/themes/blue/images/form/trigger-plus.png") no-repeat 0 0 !important;float: right; }

.inputClearDatefieldsButton:hover + .x-field-combo-btns>.clearDatefieldsButton, .clearDatefieldsButton:hover{
	right: 18px;
}

.x-checkbox-blue-16{        
	color: #15428b;
    font-weight: bold;
    font: bold 11px tahoma,arial,helvetica,sans-serif;	
	
}

.CenterDisasterMedicine .x-layout-split {
	width: 10px;
}

.CenterDisasterMedicine .x-layout-mini  {
	opacity: 1;
}
.HTM-form {
	margin: 10px;
}

.HTM-form .x-form-item {
	margin: 10px;
	text-align: left;
}

.HTM-form .x-form-field {
	margin-top: 0px;
}

.HTM-form .x-form-trigger {
	margin-top: 0px;
}

.HTM-form .x-btn {
	margin: 10px;
}


.HTM-fieldset {
	margin: 10px 0px 0px 0px;
	padding: 0px;
}

.HTM-fieldset .x-form-item {
	margin: 0px 10px 0px 10px;
}
