.styledCheckbox {
	height: 13px;
	width: 13px;
	filter: alpha(opacity=0.0);
	opacity: 0.0;
	outline: 0;
}

.styledCheckboxWrap {
	position: relative;
	background: url('../img/tree/checkboxes.gif') no-repeat top left;
	width: 13px;
	height: 13px;
	margin: 3px;
}

.wrapChecked{ background-position: 0px -13px; }

.wrapPartial{ background-position: 0px -26px; }

.add-tree{
	cursor: pointer;
	margin-left: 10px;
	vertical-align: top;
}