/*icons*/

.verticalScrollableButtonPanel span.dlo32{
	background: url("../themes/images/icons32/icons32.gif") no-repeat -74px -543px !important;
}

.verticalScrollableButtonPanel span.dlo32{
	background: url("../themes/images/icons32/icons32.gif") no-repeat -74px -543px !important;
}

.verticalScrollableButtonPanel span.emergency-list32{
	background: url("../themes/images/icons32/icons32.gif") no-repeat -74px -239px !important;
}

.verticalScrollableButtonPanel span.users32{
	background: url("../themes/images/icons32/icons32.gif") no-repeat -74px -1156px !important;
}

.verticalScrollableButtonPanel span.reports32{
	background: url("../themes/images/icons32/icons32.gif") no-repeat -38px -988px !important;
}

.verticalScrollableButtonPanel span.doubles32{
	background: url("../themes/images/icons32/icons32.gif") no-repeat -2px -240px !important;
}

.verticalScrollableButtonPanel span.report32{
	background: url("../themes/images/icons32/icons32.gif") no-repeat -2px -988px !important;
}

.verticalScrollableButtonPanel span.setduty32{
	background: url("../themes/images/icons32/icons32.gif") no-repeat -38px -272px !important;
}